[submodule "Backend"]
	path = Backend
	url = https://github.com/Rebel08/E-Com-Dashboard-Backend.git
[submodule "FrontEnd/ecommerce-analytics"]
	path = FrontEnd/ecommerce-analytics
	url = https://github.com/Rebel08/E-Com-Dashboard-FrontEnd.git
